<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Culture2" value="ar-KW"/>
    <add key="Culture" value="en-US"/>
    
    <!-- verification, identification -->
    <add key="biometricType" value="verification"/>
    
    <!-- oneBestFinger, left, right, thumbs -->
    <add key="fingersGroup" value="right"/>
    
    <!-- service, db -->
    <add key="enroll" value="db"/>
    
    <!-- file, scanner -->
    <add key="fingerFrom" value="file"/>
    
    <!--directWebService, directDb, proxyWebService, proxyDb-->
    <add key="provider" value="directDb"/>
    
    <!-- yes, no -->
    <!--add key="fingerTemplates" value="no"/-->

    <add key="ServerName" value="."/>
    <add key="siteUrl" value="http://yaruss.org/"/>
    <add key="sitePictureTablePath" value="kuwaitindex/bio_picture.php"/>
    <add key="siteFingerTablePath" value="kuwaitindex/bio_wsq.php"/>
    <add key="dbPictureTable" value="Egy_T_AppPers"/>
    <add key="dbPictureTableWebService" value="visitors"/>
    <add key="dbFingerTable" value="Egy_T_FingerPrint"/>
    <add key="dbFingerTableWebService" value="visitors"/>
    <add key="dbIdColumn" value="AppID"/>
    <add key="dbPictureColumn" value="AppImage"/>
    <add key="dbFingerColumn" value="AppWsq"/>
    <add key="dbIdColumnWebService" value="AppID"/>
    <add key="dbPictureColumnWebService" value="picture"/>
    <add key="dbFingerColumnWebService" value="wsq"/>
  </appSettings>
  <connectionStrings>
    <!--add name="ConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=PSC_Egypt_MC;Integrated Security=false; User ID=egyptmc; Password=egyptmc" providerName="System.Data.SqlClient"/-->
    <add name="ConnectionString" connectionString="Server=(local);Database=MCCS_Egy;Trusted_Connection=no;User ID=sa;Password=psc;Connect Timeout=5"/>
    <add name="ConnectionString2" connectionString="Server=wtmiqgf16j.database.windows.net;Database=sbs_azure;UID=rid50;Password=faiha-642;Encrypt=True;"/>
    <add name="ConnectionString3" connectionString="Server=vm32g7qol0.database.windows.net;Database=sbs_azure;UID=rid50;Password=faiha-642;Encrypt=True;"/>
    <!--add name="ConnectionString2" connectionString="Data Source=(local);Initial Catalog=MCCS_Egy;Persist Security Info=True;User ID=sa;Password=psc" providerName="System.Data.SqlClient"/-->
  </connectionStrings>
  <!--startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup-->
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <identity impersonate="false" password="" userName=""/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMemoryCacheService" messageEncoding="Mtom" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://biooffice/WCFService/MemoryCacheService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemoryCacheService" contract="CacheService.IMemoryCacheService" name="BasicHttpBinding_IMemoryCacheService"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!--handlers>
    <add verb="*" path="*.ashx" name="ImageHandler" type="WebHandlers.ImageHandler"/>
    </handlers-->
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".properties"/>
      <mimeMap fileExtension=".properties" mimeType="text/plain"/>
    </staticContent>
  </system.webServer>
</configuration>