<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConfigurationService" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://biooffice/WCFService/ConfigurationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationService"
                contract="ConfigurationService.IConfigurationService" name="BasicHttpBinding_IConfigurationService" />
        </client>
    </system.serviceModel>
</configuration>