<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--authentication mode="Windows"/-->
    <!--pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/-->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://biooffice/WCFService/ConfigurationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationService"
          contract="ConfigurationService.IConfigurationService" name="BasicHttpBinding_IConfigurationService" />
    </client>    
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="false" maxMessagesToLog="10000" />
    </diagnostics>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConfigurationService" messageEncoding="Mtom" />
        <binding name="AnonymousHttpEndpointBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WindowsHttpEndpointBinding" messageEncoding="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <!--webHttpBinding>
        <binding name="WebHttpEndpointBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </webHttpBinding-->
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="WCFService.ConfigurationService">
        <endpoint address="" behaviorConfiguration="" binding="basicHttpBinding"
          bindingConfiguration="AnonymousHttpEndpointBinding" contract="WCFService.IConfigurationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WCFService.MemoryCacheService">
        <endpoint address="" behaviorConfiguration="" binding="basicHttpBinding"
          bindingConfiguration="AnonymousHttpEndpointBinding" contract="WCFService.IMemoryCacheService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WCFService.DbDataService">
        <endpoint address="" behaviorConfiguration="" binding="basicHttpBinding"
          bindingConfiguration="AnonymousHttpEndpointBinding" contract="WCFService.IDbDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WCFService.WebDataService">
        <endpoint address="" behaviorConfiguration="" binding="basicHttpBinding"
          bindingConfiguration="WindowsHttpEndpointBinding" contract="WCFService.IWebDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Error,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Error,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\log\Traces3.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="xml">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>