<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMemoryCacheService" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://biooffice/WCFService/MemoryCacheService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemoryCacheService"
                contract="CacheService.IMemoryCacheService" name="BasicHttpBinding_IMemoryCacheService" />
        </client>
    </system.serviceModel>
</configuration>